<div class="container">
  <!-- <div class="nav-item avatar dropdown" dropdown> -->
    <!-- <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect> -->
      <img [src]="profile.picture" alt="" class="img-fluid rounded-circle z-depth-1">
    <!-- <div *dropdownMenu class="dropdown-menu dropdown-menu dropdown dropdown-primary" role="menu">
      <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
      <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
    </div>
  </div> -->
</div>
