<div class="container">
<!-- Start of Group Card -->
<div class="container">    
<h3>Highest Matched Groups</h3>
      <div class="row">
  <mdb-card *ngFor="let group of groups" class="col-4">
          <mdb-card-img [src]='group.picture'></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title routerLink="/detail/{{group.id}}">
            <h3>{{ group.name }}</h3>
          </mdb-card-title>
          <mdb-card-text>
            <h4>{{ group.destination }}</h4>
          </mdb-card-text>
        </mdb-card-body>
        </mdb-card>
    <a routerLink="#" mdbBtn color="primary" mdbWavesEffect>View More Matches</a>
<!-- End of Group Card -->
</div>
</div>
</div>