.login-form .font-small {
  font-size: 0.8rem;
}

.login-form .header {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;

}

.header {
  background: linear-gradient(90deg, #FF6F3C 0%, #994324 100%);
}




