
<!--Navbar-->
<mdb-navbar 
SideClass="navbar 
navbar-expand-lg 
navbar-dark 
#ff3d00 
deep-orange 
darken-3" 
[containerInside]="false"
role="navigation">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Caravan</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/account">My account</a>
          <a (click)="logout()" class="dropdown-item waves-light" mdbWavesEffect>Logout</a>
        </div>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->