<ng-template [ngIf]="profile">
  <div class="container">
    <!-- Start of Group Card -->
    <ng-template [ngIf]="groups">
    <div class="container">
      <h3>Highest Matched Groups</h3>
      <div class="row">
        <div *ngFor="let group of groups" class="col-4">
          <mdb-card>
            <mdb-card-img [src]='group.picture'></mdb-card-img>
            <mdb-card-body>
              <a routerLink="/detail/{{group.id}}" [state]="{ profile: [profile] }">
                <h3>{{ group.name }}</h3>
              </a>
              <mdb-card-text>
                <h5>{{ group.destination }}</h5>
              </mdb-card-text>
              <!-- Percentage Circle -->
              <!-- <div class="circle-container">
          <div id="activeBorder" class="active-border">
            <div id="circle" class="circle">
              <span class="prec 270" id="prec">90%</span>
            </div>
          </div>
        </div> -->
              <!-- Percentage Circle --->
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
      <div class="row justify-content-center ">
        <a class="button-vert-space" routerLink="/group-all" mdbBtn color="primary" mdbWavesEffect>View More Matches</a>
      </div>
    </div>
</ng-template>
<!-- End of Group Card -->
<div class="spacer1"></div>
<div class="cotainer">
  <!-- Start of Trip Card -->
  <ng-template [ngIf]="trips">
  <div class="trips">
    <h3>My Trips</h3>
    <div class="row">
      <div *ngFor="let trip of trips" [class.selected]="trip === selectedTrip" (click)="onSelect(trip)" class="col-4">
        <mdb-card>
          <mdb-card-img [src]='trip.picture'></mdb-card-img>
          <mdb-card-body>
            <a routerLink="/my-trips/{{trip.id}}" [state]="{ profile: [profile] }">
              <h3>{{ trip.name }}</h3>
            </a>
            <mdb-card-text>
              <h4>{{ trip.destination }}</h4>
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>
      <!-- End of Trip Card -->
    </div>
    <div class="row justify-content-center">
      <a class="button-vert-space" routerLink="/group/signup" [state]="{ profile: [profile] }" mdbBtn
        color="primary">Create a Group</a>
    </div>
  </div>
  </ng-template>
</div>
</div>
</ng-template>