<ng-template [ngIf]="profile">
  <div class="container">
    <!-- Start of Group Card -->
    <div class="container">
      <ng-template [ngIf]="groups">
        <div class="row justify-content-center">
          <h3>Highest Matched Groups</h3>
        </div>
        <mdb-card>
          <div class="row">
            <div *ngFor="let group of groups" class="col-4">
              <div class="view overlay">
                <img [src]="group.picture" class="img-group" alt="group" width="265px" height="200px">
                <div class="mask flex-center rgba-red-strong">
                  <div class="white-text" style="text-align: center">
                    {{ group.destination }}
                    <br />
                    <a routerLink="/detail/{{group.id}}" [state]="{ profile: [profile] }">
                      {{ group.name }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mdb-card>
        <div class="row justify-content-center">
          <a routerLink="/group-all" mdbBtn color="primary" mdbWavesEffect>View More Matches</a>
        </div>
      </ng-template>
    </div>
    <!-- End of Group Card -->
    <div class="spacer1"></div>
    <div class="container">
      <!-- Start of Trip Card -->
      <div class="trips">
        <ng-template [ngIf]="trips">
          <h3>My Trips</h3>
          <div class="row justify-content-center">
            <div *ngFor="let trip of trips" [class.selected]="trip === selectedTrip" (click)="onSelect(trip)"
              class="col-5">
              <div class="view overlay">
                <img [src]='trip.picture' class="img-group" alt="group" width="265px" height="200px">
                <div class="mask flex-center rgba-red-strong">
                  <div class="white-text" style="text-align: center">
                    <a routerLink="/my-trips/{{trip.id}}" [state]="{ profile: [profile] }">
                      {{ trip.name }}
                    </a>
                    {{ trip.destination }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Trip Card -->
          </ng-template>
          <div class="row justify-content-center">
            <a routerLink="/group/signup" [state]="{ profile: [profile] }" mdbBtn color="primary">Create a Group</a>
          </div>
        
      </div>
    </div>
  </div>
</ng-template>