.col-4 {
  padding-right: 0px;
  padding-left: 0px;
}

.col-5 {
  padding-right: 0px;
  padding-left: 0px;
  margin: 5px;
}


.spacer1 {
    height: 10px;
}
.circle-container {
  width: 20px;
  height: 20px;
  margin: 20px auto;
}

.prec {
  top: 30px;
  position: relative;
  font-size: 10px;
}

.circle {
  position: relative;
  top: 5px;
  left: 5px;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #E6F4F7;
}

.active-border {
  position: relative;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;

  background-color:#39B4CC;
  background-image: 
  linear-gradient(20deg, transparent 50%, #A2ECFB 50%),
  linear-gradient(180deg, #A2ECFB 50%, transparent 50%);

  }

<<<<<<< HEAD
  .button-vert-space{
    margin:20px 0;
=======
  h3 {
    text-align: center
  }
  
  h2 {
    text-align: center
>>>>>>> e1487d0cc9583d9a2a637b74e57cc7b0460f9791
  }