<ng-template [ngIf]="profile">
    <app-header></app-header>
    <!-- Card -->
    <div class=container>
        <mdb-card>
            <app-nav></app-nav>
            <div class=row>
                <div class=col-3>
                    <app-profile-picture [profile]='profile'></app-profile-picture>
                    <app-profile [profile]='profile'></app-profile>
                    <app-search></app-search>
                </div>
                <div class=col-9>
                    <span class="pull left"><app-groups [profile]='profile'></app-groups></span>
                </div>
                <app-widget></app-widget>
            </div>
        </mdb-card>
    </div>
</ng-template>

