<!-- <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>  
<mdb-card class="photos">
      <h3>My Photos</h3>
<button id="upload_widget" class="cloudinary-button" (click)="myClick()">Upload Photos</button>
<button id="view_photos" class="view-button" (click)="getPhotos()">View Photos</button>
      <div class="row justify-content-md-center">
  <mdb-card *ngFor="let photo of photos" class="col-sm">
      <mdb-card-img [src]='photo.image'></mdb-card-img> -->
