<div class="container">
  <mdb-card>
    <ng-template [ngIf]="group">
      <div class="container">
        <h2>{{group.name}} Details</h2>
        <app-group-users [groupId]='groupId'></app-group-users>
        <p>Dates: {{group.date_start}} - {{group.date_end}}<br/>
        Budget: $$$<br/>
        Overall Compatibility: 90%<br/>
        </p>
      </div>
      <!--Group Chat-->
      <div class="container">
        <div class="row-5">
        <div class="col-4">
        <app-chat [groupId]='groupId' [profile]='profile'></app-chat>
      </div>
      </div>
      <div class="spacer"></div>
    <div class=row-8>
      <div class=col>
    <div>
        <app-calendar></app-calendar>
      </div>
      </div>
      </div>
      </div>
    </ng-template>
</mdb-card>

