:host {
    display: block;
    width: 150px;
}
.profile-card {
    margin: 10px;
    max-width: 150px;
  }
.profile-pic {
    margin: 5px;
    align-self: center;
}
.card-title {
    text-align: center;
}