<!-- Section: form gradient -->
<section class="form-gradient mb-5" >

  <!--Form with header-->
  <mdb-card >
<form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
    <!--Header-->
    <div class="header">

      <div class="row d-flex justify-content-center">
        <h3 class="white-text mb-0 py-5 font-weight-bold">Create Trip!</h3>
      </div>

    </div>
    <!--Header-->

    <mdb-card-body class="mx-4">

      <div class="md-form">
        <i class="fas fa-shuttle-van prefix grey-text"></i>
        <input type="text" id="form104" class="form-control" formControlName="name" mdbInput>
        <label for="form104">Trip Name</label>
      </div>

      <div class="md-form">
        <i class="fas fa-map-marker-alt prefix grey-text"></i>
        <input type="text" id="searchBar" (click)="getPlaces()" class="form-control" mdbInput>
        <label for="form105">Destination</label>
      </div>

      <div class="md-form">
        <i class="fas fa-calendar-alt prefix grey-text"></i>
        <input type="date" id="form106" class="form-control" formControlName="date_start" mdbInput>
        <label for="form106">Start Date</label>
      </div>

      <div class="md-form">
          <i class="fas fa-calendar-alt prefix grey-text"></i>
          <input type="date" id="form106" class="form-control" formControlName="date_end" mdbInput>
          <label for="form106">End Date</label>
        </div>
      <!--Grid row-->
      <div class="row d-flex align-items-center mb-3 mt-4">

        <!--Grid column-->
        <button type="submit" [disabled]="!groupForm.valid" mdbBtn color="primary" rounded="true" data-toggle="modal" data-target="#basicExample"
  (click)="frame.show()" mdbWavesEffect>Submit</button>
        <!--Grid column-->

      </div>
      <!--Grid row-->
      
    </mdb-card-body>
</form>
  </mdb-card>
  <!--/Form with header-->

</section>

<!-- Section: form gradient -->
<!-- Section: form dark -->
<section class="form-dark mb-5">




<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" (open)="onOpen($event)">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
          <p>Your travel group has been created!</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a routerLink="/main" type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()"
          data-dismiss="modal">Continue to Home Page</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

