.container {
    position: absolute;
    top: 15%;
    height: 80%;
    width: 600px;
  }
.card {
    justify-content: center
}

.header {
    background: linear-gradient(90deg, #FF6F3C 0%, #994324 100%);
}

.md-form {
    max-width: 600px;
}