
<h1>Create Group Form</h1>
<form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
  
  <label>
    Name:
    <input type="text" formControlName="name">
  </label>
 
  <label>
    Destination:
    <input type="text" id="searchBar" (change)="getPlaces()">
  </label>

  <label>
    Start Date:
    <input type="text" formControlName="date_start">
  </label>

  <label>
    End Date:
    <input type="text" formControlName="date_end">
  </label>

  <button type="submit" [disabled]="!groupForm.valid" mdbBtn color="primary" rounded="true" data-toggle="modal" data-target="#basicExample"
  (click)="frame.show()" mdbWavesEffect>Submit</button>
  <!-- <button type="submit" [disabled]="!groupForm.valid">Submit</button> -->

</form>

<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" (open)="onOpen($event)">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
          <p>Your travel group has been created!</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a routerLink="/main" type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()"
          data-dismiss="modal">Continue to Home Page</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

