.container {
    position: absolute;
    top: 15%;
    height: 80%;
    border-radius: 20px;
  }

.col-4 {
    padding-left: 0px;
    padding-right: 0px;
    margin: 10px;
    max-width: 340px;
}

.row {
    margin: 5px;
}

