<ng-template [ngIf]="profile">
    <div class="container" justify-content-center>
        <h4 class="card-title">{{profile.name}}</h4>
            <h6>Tradition: 12%</h6>
            <h6>Stimulation: 46%</h6>
            <h6>Helping Others: 74%</h6>
            <h6>Achievement: 68%</h6>
            <h6>Joy of Life: 42%</h6>
    </div>
     <div>
        <!-- <button (click)="getTwitterPersonality(profile.sub)">Make Twitter Call</button> -->
        <app-requests [profile]='profile'></app-requests>
    </div> 
</ng-template>