<ng-template [ngIf]="profile">
    <div class="container" justify-content-center>
        <h4 class="card-title">{{profile.name}}</h4><hr>
        <ng-template [ngIf]="values">
            <h6>Tradition: {{values.tradition}}%</h6>
            <h6>Stimulation: {{values.stimulation}}%</h6>
            <h6>Helping Others: {{values.helpfulness}}%</h6>
            <h6>Achievement: {{values.achievement}}%</h6>
            <h6>Joy of Life: {{values.enjoyment}}%</h6>
        </ng-template>
    </div>
    <!-- <div>
        <button (click)="getTwitterPersonality(profile.sub)">Make Twitter Call</button>
    </div> -->
</ng-template>